.add input {
    height: 28px;
    border: rgb(137, 134, 134) 1px solid;
    border-radius: 4px;
    padding-left: 30px;
    margin-right: 30px;
    margin-bottom: 18px;
}

.add {
    font-weight: 550;
}

.newpart {
    background-color: #e8f4ff;
    color: #1890ff;
    transition-duration: 0.3s;
    border-radius: 5px;
    border: 1px solid #1890ff;
}

.newpart:hover {
    background-color: #1890ff;
    color: white;
}

.add button {
    height: 30px;
    width: 70px;
    font-weight: 530;
    margin-right: 10px
}

.reset {
    background-color: #e7faf0;
    color: #7ae5c2;
    transition-duration: 0.3s;
    border-radius: 5px;
    border: 1px solid #7ae5c2;
}

.reset:hover {
    background-color: #7ae5c2;
    color: #e7faf0;
}

.import {
    background-color: #f4f4f5;
    color: #909399;
    transition-duration: 0.3s;
    border-radius: 5px;
    border: 1px solid #909399;
}

.export:hover {
    cursor: not-allowed;
}

.export {
    background-color: #fff8e6;
    color: #ffba00;
    transition-duration: 0.3s;
    border-radius: 5px;
    border: 1px solid #ffba00;
    ;
}

.import:hover {
    cursor: not-allowed;
}

.foodname {
    display: inline-block;
    margin-left: 33px;
}

.foodtypename {
    display: inline-block;

}

.detail {
    display: inline-block;
}

.add_bottom {
    margin-left: 10px;
}

.bottom_bottom {
    display: none;
}

.pages {
    float: right;
}

#left {
    width: 30px;
    height: 30px;
    margin-left: 9px;
    border-radius: 4px;
}

#right {
    width: 30px;
    height: 30px;
    margin-right: 9px;
    border-radius: 4px;
}

#nowPage {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #1890ff;
    color: white;
    border-radius: 2px;
}

tbody tr td {
    max-width: 227px;
    padding-left: 8px;
    padding-right: 8px;
    width: 227px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.changeColor {
    background-color: #f6e4e3;
}

.tableDelete {
    height: 25px;
    width: 60px;
    background-color: #ffeded;
    color: #ff9998;
    transition-duration: 0.3s;
    border-radius: 5px;
    border: 1px solid #ff9998;
}

.tableDelete:hover {
    background-color: #ff9998;
    color: #ffeded;
}

.tableXiugai {
    height: 25px;
    width: 60px;
    background-color: #e7faf0;

    color: #7ae5c2;
    transition-duration: 0.3s;
    border-radius: 5px;
    border: 1px solid #7ae5c2;
}

.tableXiugai:hover {
    background-color: #7ae5c2;
    color: #e7faf0;
}

.add_bottom .allTheNumber {
    color: black;
    padding-left: 2px;
}